name: Pipeline
on:
  push:
    branches:
      - main
jobs:
  code-quality:
    name: Check code quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: True
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pre-commit install --install-hooks
      - name: Run pre-commit on all files
        run: SKIP=no-commit-to-branch pre-commit run --all-files
  tests:
    name: Run test suite and create coverage badge
    runs-on: ubuntu-latest
    needs: code-quality
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
      - name: Run tests
        run: pytest
      - name: Upload html coverage report
        uses: actions/upload-pages-artifact@v3
        with:
          name: coverage
          path: htmlcov/
      - name: Create coverage badge
        id: coverage_comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Store coverage badge and comment in separate branch
        uses: actions/upload-artifact@v3
        if: steps.coverage_comment.outputs.COMMENT_FILE_WRITTEN == 'true'
        with:
          name: python-coverage-comment-action
          path: python-coverage-comment-action.txt
